.scheduler{
    display: flex;
    justify-content: center;
}


.messagebutton {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#messagebutton:hover{
    border-color:#b1d6f9;
    background-color:white;
}